@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto'
}

.App-header {
  background-color: #444;
  height: 150px;
  padding: 20px;
  color: white;
}
.appcontainer {
  height: 100vh;

}

form input {
  width: 100%;
  display: block;
  clear: both;
}
.appcontainer {
  background: url('assets/images/chatbg.jpeg') center left no-repeat;
  background-size: cover;
}
.loginForm {
  height: 100vh;
  background: #fff;
  width: 100%;
  max-width: 480px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h3 {
  font-size: 39px;
  text-transform: uppercase;
  font-weight: 900;
  color: #333;
  margin-bottom: 0;
  line-height: 42px;
  margin-top: 20px;
}

.formWrap {
  width: 390px;
}

.route-signup a {
  color: #333;
  text-decoration: none;
  margin-top: 20px !important;
  display: inline-block;
}

.loginButton button{
  background: rgb(162, 37, 43) !important
}
small.red.error {
  color: #ff0000;
}
.formWrap {
  max-height: 66vh;
  overflow-y: auto;
  padding-right: 20px;
}
main {
  float: left;
  width: 100%;
  background: #f9f9f9;
}

.containerChat {
  max-width: 1170px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

.usersList {
  background: #fff;
  border: 1px solid #ccc;
  width: 30%;
  float: left;
  border-radius: 10px;
}

.userName {
    text-align: left;
    padding-left: 80px !important;
    line-height: 26px !important;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: all ease 300ms;
}
.usersList.pull-left {
  padding: 10px 30px;
  box-sizing: border-box;
}

.userName {
    text-align: left;
    padding-left: 80px !important;
    line-height: 26px !important;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: all ease 300ms;
}

.usersList.pull-left {
  padding: 10px 30px 10px 24px;
  box-sizing: border-box;
}

.usersList {
    height: calc(100vh - 272px);
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 0;
    border-left: 0;
    direction: rtl;
}
.docs {
  margin-top: 80px;
}

.usersList {
    margin-bottom: 32px;
}

.userName:hover, .userName[clicked="true"] {
  background: #f1f1f1;
}
.usersList div.userName:nth-child(3n+3) > span > div:first-child  {
  background-color: #61DAFB !important;
}

.usersList div.userName:nth-child(2n+2) > span > div:first-child  {
  background-color: #EC407A !important;
}
.userName svg {
  margin: 17px 0px !important;
}
.msg-submit {
  position: absolute;
  bottom: 0;
  padding: 5px 20px;
}

.userConvo {
  position: relative;
  background: #fff
}
.msg-submit {
  position: absolute;
  bottom: 0px;
  padding: 5px 20px;
  width: 100%;
  background: #f9f9f9;
  box-sizing: border-box;
}

.submitInput {
  width: 78% !important;
  position: relative;
  top: 6px;
  float: left;
  margin-right: 2%;
}

.submitBtn {
    width: 20%;
    margin-left: 1%;
    margin: 10px 0 !important;
}
.submitBtn button, .redbtn button {
  background: rgb(162, 37, 43) !important 
}

.userConvo {
  width: 69%;
  float: right;
  height: 100vh;
  height: calc(100vh - 275px);
  border: 1px solid #ccc;
}
.userConvo .convo-inner {
  height: calc(100vh - 400px);
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 0;
  border-left: 0;
  display: inline-block;
  width: 100%;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1.username {
  margin-top: 0;
  text-transform: capitalize;
  margin: 0;
  font-size: 43px;
}

h1.App-title {
  margin-top: 6px;
  font-size: 20px;
}
.userName {
  direction: ltr;
  padding: 0 !important;
}

.userName span {
  display: flex !important;
  align-items: center !important;
  width: 100%;
}

.userName strong {
  float: left;
  text-align: left;
  width: 65%;
  padding-left: 20px;
}

.userName svg {
  float: right;
  color: #bbb !important;
}
.convo-header h3 {
  margin: 0;
  padding: 10px;
  font-size: 30px;
  text-transform: capitalize;
  text-shadow: 3px 3px 3px #ccc;
  background: #f1f1f1;
}
.messageAvatar {
  width: 100%;
  max-width: 55px;
  float: left;
}

.msg-text {
  float: left;
  width: calc(100% - 79px);
  background: rgba(0, 175, 240, 0.35);
  float: right;
  border-radius: 6px;
  text-align: left;
  padding: 13px;
  box-sizing: border-box;
}

.messageSingle {
  width: 100%;
  float: left;
  padding: 10px 30px;
  box-sizing: border-box;
}

.msg-name {
  float: left;
  width: 100%;
  margin-bottom: 5px;
}

.msg-name h4 {
  margin: 0;
}

.msg-coretext p {
  margin-bottom: 0;
  font-size: 15px;
}

.msg-time span {
  color: #777;
  font-size: 12px;
  float: right;
}

.convo-inner {
  padding: 30px 0;
}
.getchat {
  float: left;
  width: 100%;
  top: 0;
  position: absolute;
  background: rgba(255, 195, 23, 0.68);
  text-align: left;
  padding: 0 30px;
  box-sizing: border-box;
  font-weight: 700;
}

.docs {
  margin-top: 71px;
}

.docs h2 {
  margin-bottom: 0;
}

.docs h6 {
  margin-top: 4px;
  font-size: 16px;
  margin-bottom: 22px;
  font-weight: 300;
}
.messageWrap[usertype="opposite"] .messageAvatar {
  float: right;
}

.messageWrap[usertype="opposite"] .msg-text {
  float: left;
}

.messageWrap[usertype="opposite"] .msg-text {
  background: #eee;
}

.messageWrap {
  width: 80%;
}

.messageWrap[usertype="opposite"] {
  float: right;
}
.formWrap h3 {
  margin-top: 0;
  font-size: 34px;
}