@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto'
}


.appcontainer {
  height: 100vh;

}

form input {
  width: 100%;
  display: block;
  clear: both;
}
.appcontainer {
  background: url('assets/images/chatbg.jpeg') center left no-repeat;
  background-size: cover;
}
.loginForm {
  height: 100vh;
  background: #fff;
  width: 100%;
  max-width: 610px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h3 {
  font-size: 39px;
  text-transform: uppercase;
  font-weight: 900;
  color: #333;
  margin-bottom: 0;
  line-height: 42px;
  margin-top: 20px;
}

.formWrap {
  width: 470px;
}

.route-signup a {
  color: #333;
  text-decoration: none;
  margin-top: 20px !important;
  display: inline-block;
}

.loginButton button{
  background: rgb(162, 37, 43) !important
}
small.red.error {
  color: #ff0000;
}
.formWrap {
  max-height: 66vh;
  overflow-y: auto;
  padding-right: 20px;
}
main {
  float: left;
  width: 100%;
  background: #f9f9f9;
}

.containerChat {
  max-width: 1170px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

.usersList {
  background: #fff;
  border: 1px solid #ccc;
  width: 30%;
  float: left;
  border-radius: 10px;
}

.userName {
    text-align: left;
    padding-left: 80px !important;
    line-height: 26px !important;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: all ease 300ms;
}
.usersList.pull-left {
  padding: 10px 30px;
  box-sizing: border-box;
}

.userName {
    text-align: left;
    padding-left: 80px !important;
    line-height: 26px !important;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: all ease 300ms;
}

.usersList.pull-left {
  padding: 10px 30px 10px 24px;
  box-sizing: border-box;
}

.usersList {
    max-height: calc(100vh - 272px);
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 0;
    border-left: 0;
    direction: rtl;
}

.usersList {
    margin-bottom: 32px;
}

.userName:hover {
    background: #f1f1f1;
}
.usersList > div > div:nth-child(3n+3) > div > div {
  background-color: #61DAFB !important;
}

.usersList > div > div:nth-child(2n+2) > div > div {
  background-color: #EC407A !important;
}
.userName svg {
  margin: 17px 0px !important;
}
.userConvo {
  height: calc(100vh - 272px);
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 0;
  border-left: 0;
  display: inline-block;
  width: 69%;
  background: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.msg-submit {
  position: absolute;
  bottom: 0;
  padding: 5px 20px;
}

.userConvo {
  position: relative;
}
.msg-submit {
  position: absolute;
  bottom: 0px;
  padding: 5px 20px;
  width: 100%;
  background: #f9f9f9
}

.submitInput {
    width: 71% !important;
    position: relative;
    top: 6px;
    float: left;
}

.submitBtn {
    width: 20%;
    margin-left: 1%;
    margin: 10px 0 !important;
}
.submitBtn button {
  background: rgb(162, 37, 43) !important
}